.box{
   display: flex;
   flex-direction: row-reverse;
   text-align: right;
   width: 100%;
   height: 100%;
   overflow: auto;
}
.box .side-bar{
    display: flex;
    flex-direction: column;
    background-color: #dde4e7;
    width: 263px;
    height: 960px;
    margin-top: -10px;
}
.box .side-bar a{
    text-decoration: none;
}
.box .side-bar .nav-bar a{
    color: #2779c3;
}
.box .side-bar .eelu{
    display: flex;
    flex-direction: column; 
    color: #2779c3;
    margin-right: 20px;
    font-size: small;
    font-weight: bold;
    filter: brightness(0.5);
}
.box .side-bar .img-details{
    display: flex;
    flex-direction: row;
    box-shadow: 0 0px 16px 0 rgb(0 0 0 / 17%)inset;
    height: fit-content;
    background-color: rgb(217, 217, 217);
}
.box .side-bar .img-details .img img{
    width: 65px;
    margin: 25px 0 15px 40px ;
}
.box .side-bar .img-details .my-name{
display: flex;
flex-direction: column;
font-size: 10px;
}
.box .side-bar .img-details .my-name .my-name2{
font-weight: bold;
font-size: 10px;
margin-left: 5px;
}
.box .side-bar .img-details .my-name .pass{
display: flex;
justify-content: space-between;
margin-left: 5px;
font-size: 10px;
}
.box .side-bar .img-details .my-name .pass .p{
border:none ;
border-radius: 2px;
background-color:rgb(78 95 195);
}
.box .side-bar .img-details .my-name .change-language ,.pass, .p a{
    color: rgb(255, 254, 254);
}

.box .side-bar .img-details .my-name .change-language .p{
    border:none ;
    border-radius: 2px;
    background-color:rgb(78 95 195);
    width: 40px;
}
.box .side-bar .img-details .my-name .change-language{
display: flex;
flex-direction: row-reverse;
}
.box .side-bar .nav-bar{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.box .side-bar .nav-bar .basic{
    display: flex;
    flex-direction: row-reverse;
}
.box .side-bar .nav-bar .img-icone1{
   padding: 15px 0 0 5px;
}
.box .side-bar .nav-bar .estimates{
    display: flex;
    flex-direction: row-reverse;
}
.box .side-bar .nav-bar .img-icone2{
    padding: 15px 0 0 5px;
 }
.box .side-bar .nav-bar .result{
    display: flex;
    flex-direction: row-reverse;
}
.box .side-bar .nav-bar .img-icone3{
    padding: 15px 0 0 5px;
 }
.box .side-bar .nav-bar .online{
    display: flex;
    flex-direction: row-reverse;
}
.box .side-bar .nav-bar .img-icone4{
    padding: 15px 0 0 5px;
 }
.box .side-bar .nav-bar .enter{
    display: flex;
    flex-direction: row-reverse;
}
.box .side-bar .nav-bar .img-icone5{
    padding: 15px 0 0 5px;
 }
.box .side-bar .nav-bar .update{
    display: flex;
    flex-direction: row-reverse;
}
.box .side-bar .nav-bar .img-icone6{
    padding: 15px 0 0 5px;
 }
.box .side-bar .nav-bar .mail{
    display: flex;
    flex-direction: row-reverse;
}
.box .side-bar .nav-bar .img-icone7{
    padding: 15px 0 0 5px;
 }
.box .side-bar .nav-bar .mail .ul .ul2{
 direction: rtl;
 padding: 15px 20px 0 0;
 }
 /* ----------------------------------------------- */
 .box .data{
    margin-right:20px ;
    display: flex;
    flex-direction: column;
 }
 .box .data p{
   color: #666666;
   font-size: small;
 }
 .box .data .spicial-data-details{
    display: flex;
    flex-direction: row-reverse;
    gap: 5rem;
    width: 100%;
 }
 .box .data .spicial-data-details .birth ,.birth-data{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
 }
 .box .data .family-data-details{
    display: flex;
    flex-direction: row-reverse;
    gap: 15rem;
 }
 .box .data .family-data-details .father-phone{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-left: 220px;
 }
 .box .data .contact-data-details{
    display: flex;
    flex-direction:row-reverse;
    gap: 5rem;
    width: 850px;
 }
 .box .data .Previous-qualification-data-details{
    display: flex;
    flex-direction:row-reverse;
    gap: 5rem;
 }
.box .data .Previous-qualification-data-details .ratio,.ratio2{
display: flex;
flex-direction: column-reverse;
align-items: flex-end;

 }
.box .data .transferring-details{
display: flex;
flex-direction: row-reverse;
justify-content: space-between;

 }
.box .data .transferring-details .party2{
  margin-left: 350px;
 }
.box .data .specialization-details{
    display: flex;
    flex-direction: row-reverse;
 }
 h3{
    color: #2779c3;
    font-weight: bold;
    font-size: 16px;
 }
 /* @media (max-width: 360px){
   body {
      overflow: scroll;
    }
} */